<footer>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-gradient-blue-purple" href="{{site.url}}/index.html"><h4>Suresh Marru</h4></a>
            <div>
                <small class="text-grey">© Copyright 2021</small>
                <a target="_blank" href="https://twitter.com/sureshmarru"><i class="text-gradient-blue-purple ml-2 fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/sureshmarru"><i class="text-gradient-blue-purple ml-2 fa fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/smarru"><i class="text-gradient-blue-purple ml-2 fa fa-github"></i></a>
            </div>
        </div>
    </nav>
</footer>